* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: black;
  background-color: green;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: yellow;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */


/* HOME PAGE */

.main-text {
  background-color: yellow;
}

/* END HOME PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .main-text {
    margin: 5%;
    padding: 5%;
    width: 90%;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
   .main-text {
    margin: 5%;
    padding: 5%;
    width: 90%;
  }
  }
  

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
   .main-text {
    margin: 5%;
    padding: 5%;
    width: 90%;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  .main-text {
    margin: 5%;
    padding: 5%;
    width: 90%;
  }
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  {
    margin: 5%;
    padding: 5%;
    width: 90%;
  }
}

