* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 175%;
  text-align: center;
  margin-bottom: 15px;
}

p {
  border: 1px solid black;
  width: 90%;
  height: 110px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  font-family: Helvetica;
  color: black;
}

.container {
	position: relative;
}

.region {
  position: absolute;
  top: 0;
  right: 5%;
  width: 100px;
  height: 25px;
  border: 1px solid black;
  color: black;
  background: green;
  text-align: center;
  font-size: 125%;
}

.content {	
  padding: 30px 5% 5% 5%;
	background-color: blue;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-4
  {float: left;
  }
 
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{float: left;
  }

  .col-md-6 {
    width: 50%;
  } 
  
  .col-md-12 {float: left;
  }
  
  .col-md-12 {
    width: 105.6%;
    position: relative;
    right: 2.7%;
  }
}
